accelerate==1.7.0
biopython==1.87
einops==0.8.1
evaluate==0.4.3
flash_attn==2.7.4.post1
genomic_benchmarks==1.0.0
h5py==3.16.0
huggingface-hub==0.33.0
mosaicml==0.32.1
mosaicml-cli==0.7.5
mosaicml-streaming==0.13.0
omegaconf==2.3.0
peft==0.15.2
tokenizers==0.21.1
torch==2.9.1+cu128
transformers==4.52.4
triton==3.6.0
wandb==0.25.1

